body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8ac5f0, #cde3f4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
}

.card {
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* LADO ESQUERDO */
.left {
    width: 40%;
    background: linear-gradient(135deg, #fafbfc, #afb0b0);
    color: rgb(10, 10, 10);
    padding: 40px;
}

.left h1 {
    margin: 0;
    font-size: 36px;
}

.left p {
    margin-top: 15px;
    font-size: 14px;
}

/* LADO DIREITO */
.right {
    width: 60%;
    padding: 30px;
}

.right h2 {
    margin-bottom: 20px;
    font-size: 16px;
}

.right h4 {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
    color: rgb(253, 9, 9);
}

label {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

input:focus {
    outline: none;
    border-color: #5c97ef;
    box-shadow: 0 0 5px rgba(92,151,239,0.5);
}

/* BOTÃO PRINCIPAL */
button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.primary {
    background: #5c97ef;
    color: white;
}

.primary:hover {
    background: #0c2461;
}

/* CONTAINER DOS BOTÕES DE DOWNLOAD */
.botoes-download {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* BOTÕES COMO LINK (DOWNLOAD) */
.botoes-download a {
    flex: 1;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    background: #dcdde1;
    color: black;
    transition: 0.2s;
}

.botoes-download a:hover {
    background: #c8d6e5;
}